/__settings__.php
/.settings
/.buildpath
/.project
/.htaccess
/work
/composer.phar
/report
/testman_cc.php
/testman.php
/cmdman.php
/angela_cc.php
/angela.php
/kate.php
/local.db
/local_session.db
/local_test.db
/cmdman.php
