<rt:extends href="../index.html" />
<rt:block name="content">
	<h2>MAMPへExtensionのインストール</h2>

	<h3>準備</h3>
	<cli caption="make等のCommand Line Toolsをインストール">
		App StoreでXcodeをインストール
		Xcodeを起動しメニューの[Xcode] - [Preferences...]からDownloadsを開きます
		ComponentsタブからCommand Line Toolsのinstallボタンをからインストールする
	</cli>	
	
	<cli caption="autoconfをインストール">
		curl -O http://ftp.gnu.org/gnu/autoconf/autoconf-2.69.tar.gz
		tar xvf autoconf-2.69.tar.gz
		cd autoconf-2.69
		./configure 
		make
		sudo make install
	</cli>

	<cli caption="PHPのソースを配置">
		mkdir /Applications/MAMP/bin/php/php5.3.6/include/
		curl -O  http://museum.php.net/php5/php-5.3.6.tar.gz
		tar xvf php-5.3.6.tar.gz
		mv php-5.3.6 /Applications/MAMP/bin/php/php5.3.6/include/php
	</cli>


	<h3>モジュールのインストール</h3>
	<cli caption="pcntlモジュールのインストール">
		cd /Applications/MAMP/bin/php/php5.3.6/include/php/ext/pcntl
		/Applications/MAMP/bin/php/php5.3.6/bin/phpize
		
		MACOSX_DEPLOYMENT_TARGET=10.7
		
		CFLAGS="-arch i386 -arch x86_64 -g -Os -pipe -no-cpp-precomp"
		CCFLAGS="-arch i386 -arch x86_64 -g -Os -pipe"
		CXXFLAGS="-arch i386 -arch x86_64 -g -Os -pipe"
		LDFLAGS="-arch i386 -arch x86_64 -bind_at_load"

		export CFLAGS CXXFLAGS LDFLAGS CCFLAGS MACOSX_DEPLOYMENT_TARGET

		./configure
		make

		cp modules/pcntl.so /Applications/MAMP/bin/php/php5.3.6/lib/php/extensions/no-debug-non-zts-20090626/
		echo "extension=pcntl.so" >> /Applications/MAMP/bin/php/php5.3.6/conf/php.ini
		/Applications/MAMP/bin/php/php5.3.6/bin/php --ri pcntl
	</cli>
</rt:block>
