<rt:extends href="../index.html" />
<rt:block name="content">
	<h2>オブジェクト</h2>	
	<classdoc map="rhaco3_document" class="org.rhaco.Object" />

	<pre>
		org.rhaco.Objectを基底クラスにすることでプロパティやアクセサの挙動を容易に変更できます。
	</pre>	
	
	<h3 style="margin-top: 50px;">特殊メソッド ( protected )</h3>
	<information>
		特殊な名前をもったメソッドを定義することで独自の振る舞いをすることができます。
	</information>
	<table>
		<thead>
		<tr>
			<th>メソッド名</th>
			<th>説明</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>__new__</td>
			<td>コンストラクタを拡張する</td>
		</tr>
		<tr>
			<td>__init__</td>
			<td>コンストラクタで初期処理を行う</td>
		</tr>
		<tr>
			<td>__anon__</td>
			<td>コンストラクタでアノテーションを処理する</td>
		</tr>
		<tr>
			<td>__del__</td>
			<td>デストラクタを拡張する</td>
		</tr>
		<tr>
			<td>__str__</td>
			<td>オブジェクトの文字列表現を拡張する</td>
		</tr>
		<tr>
			<td>__hash__</td>
			<td>オブジェクトの連想配列表現を拡張する</td>
		</tr>
		</tbody>
	</table>
	<pre caption="作成例">
		<php>
		namespace org\rhaco;
		/**
		 * @var integer $abc 数値
		 */
		class Hoge extends \org\rhaco\Object{
			protected $abc;
			
			protected function __new__($i){
				$this->abc = $i;
			}
			protected function __init__(){
				$this->abc = $this->abc + 10;
			}
			protected function __str__(){
				return '['.$this->abc.']';
			}
		}
	</pre>
	<pre caption="使用例">
		<php>
		include('rhaco3.php');
		
		$obj = new \org\rhaco\Hoge(10);
		var_dump($obj->abc());
		var_dump((string)$obj);
	</pre>
	<cli caption="結果">
		int(20)
		string(4) "[20]"
	</cli>

	
	<h3 style="margin-top: 50px;">プロパティのアクセサをカスタマイズする</h3>
	<information>
		protectedまたはpublicで定義されたプロパティは自動的に同名のメソッドをGetter,Setterとして扱う事ができます。
	</information>
	<pre caption="作成例">
		<php>
		namespace org\rhaco;
		/**
		 * @var integer $abc 数値
		 * @var string $def 文字列
		 */
		class Hoge extends \org\rhaco\Object{
			protected $abc;
			protected $def;
			
			protected function __get_abc__(){
				return $this->abc + 10;
			}
		}
	</pre>
	<pre caption="使用例">
		<php>
		$obj = new \org\rhaco\Hoge();
		$obj->abc('warn');
		var_dump($obj->abc());
	</pre>
	<cli caption="結果">
	int(123)
	</cli>
	
	<information>
		クラスコメントに@varで宣言することでプロパティの型を定義する事ができます。
	</information>
	<table>
		<thead>
		<tr>
			<th>型</th>
			<th>説明</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>number</td>
			<td>アノテーションdecimal_placesでサイズを指定します</td>
		</tr>
		<tr>
			<td>serial</td>
			<td>シリアル型 数値</td>
		</tr>
		<tr>
			<td>boolean</td>
			<td>真偽値型 true/false/null</td>
		</tr>
		<tr>
			<td>timestamp</td>
			<td>タイムスタンプ型 YYYY/MM/DD HH:ii:ss</td>
		</tr>
		<tr>
			<td>date</td>
			<td>日付型 YYYY/MM/DD</td>
		</tr>
		<tr>
			<td>time</td>
			<td>時間型 HH:ii:ss</td>
		</tr>
		<tr>
			<td>intdate</td>
			<td>数値形式の日付型 YYYYMMDD</td>
		</tr>
		<tr>
			<td>email</td>
			<td>email型</td>
		</tr>
		<tr>
			<td>alnum</td>
			<td>英数値型 0-9,A-Z,a-z,_</td>
		</tr>
		<tr>
			<td>choice</td>
			<td>選択型 アノテーションchoicesで定義します</td>
		</tr>
		<tr>
			<td>mixed</td>
			<td>未指定と同様</td>
		</tr>
		</tbody>
	</table>
	
	<information>
		特殊なprefixをもったprotectedメソッドを定義することでアクセサを拡張します。
	</information>
	<p>プロパティ名abcの場合</p>
	<table>
		<thead>
		<tr>
			<th>メソッド名</th>
			<th>説明</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>__get_abc__</td>
			<td>Getter を拡張します</td>
		</tr>
		<tr>
			<td>__set_abc__</td>
			<td>Setter を拡張します</td>
		</tr>
		<tr>
			<td>__in_abc__</td>
			<td>inを拡張します</td>
		</tr>
		<tr>
			<td>__is_abc__</td>
			<td>isを拡張します</td>
		</tr>
		<tr>
			<td>__ar_abc__</td>
			<td>arを拡張します</td>
		</tr>
		<tr>
			<td>__fm_abc__</td>
			<td>fmを拡張します</td>
		</tr>
		<tr>
			<td>__rm_abc__</td>
			<td>rmを拡張します</td>
		</tr>
		<tr>
			<td>__choices_abc__</td>
			<td>choices型を拡張します</td>
		</tr>
		</tbody>
	</table>

</rt:block>

	