<rt:extends href="base.html" />

<rt:block name="content">

<div id="filter" class="modal hide fade" style="display: none;">
	<form method="post" name="search_clear_frm">
	</form>
	<form method="post" name="search_frm" rt:aref="true" class="search_form">
	<input type="hidden" name="search" value="true" rt:ref="false" />
	<div class="modal-header">
		<a class="btn" href="#" onClick="document.search_frm.submit()"><i class="icon-search"></i> Search</a>
		<a class="btn" href="#" onClick="document.search_clear_frm.submit()"><i class="icon-trash"></i> Clear</a>
	</div>
	<div class="modal-body">
		<table>
			<rt:loop param="{$f.props($model)}" var="name">
			<tr>
				<td>{$t.trim_width($name,50,'..')}</td>
				<td>{$t.noop($f.filter($model,$name))}</td>
			</tr>
			</rt:loop>
		</table>
	</div>
	</form>
</div>
<a class="icon-search" data-toggle="modal" href="#filter"></a>
( Total: {$paginator.total()} )

<table rt:param="object_list" rt:var="obj">
<thead>
<tr>
	<th class="span2">create</th>
	<th class="span3">to</th>
	<th>subject</th>
</tr>
</thead>
<tbody>
<tr>
	<td valign="top">{$obj.fm_create_date()}</td>
	<td>{$t.html($obj.fm_to())}</td>
	<td><a href="{$t.package_method_url('mail_detail',$obj.id())}">{$t.html($obj.fm_subject())}</a></td>
</tr>
</tbody>
</table>

<rt:paginator counter="15" />

</rt:block>
