<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>rhaco.org</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
	<style>
		body{ padding-top: 60px; }
	</style>
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
</head>
<body>
	<!-- github -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="#">rhaco.org</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<rt:block name="content">
		</rt:block>
	</div>	
</body>
</html>

