<html>
<head>
</head>
<body>
{$ppp}
{$qqq}
<form rt:ref="true">
	<input type="text" name="aaa" />
	<input type="text" name="ttt" />
	<input type="checkbox" name="bbb" value="hoge" />hoge
	<input type="checkbox" name="bbb" value="fuga" checked="checked" />fuga
	<input type="checkbox" name="eee" value="true" checked />foo
	<input type="checkbox" name="fff" value="false" />foo
	<input type="submit" />
	<textarea name="aaa"></textarea>
	<textarea name="ttt"></textarea>

	<select name="ddd" size="5" multiple>
		<option value="123" selected="selected">123</option>
		<option value="456">456</option>
		<option value="789" selected>789</option>
	</select>
	<select name="XYZ" rt:param="xyz"></select>
</form>

</body>
</html>