<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>rhaco.org</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<style>
		body{ padding-top: 60px; }
	</style>
	<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
</head>
<body>
	<!-- github -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="{$f.link('index.html')}">rhaco.org</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<rt:block name="content">
	
		<table class="table table-condensed">
		<thead>
		<tr>
			<th>Product</th>
			<th>PHP version</th>
			<th>License</th>
			<th>Start date</th>
			<th>Type</th>			
			<th>Download </th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td><a href="{$f.link('rhaco3/index.html')}">rhaco3</a></td>
			<td>PHP 5 &gt;= 5.3</td>
			<td>BSD</td>
			<td>2010-11-11</td>
			<td>Framework</td>
			<td><a href="http://github.com/tokushima/rhaco3">github</a></td>
		</tr>
		<tr>
			<td>sandra</td>
			<td>PHP 5 &gt;= 5.4</td>
			<td>BSD</td>
			<td>2012-12-25</td>
			<td>Framework</td>
			<td><a href="http://github.com/tokushima/sandra">github</a></td>
		</tr>				
		<tr>
			<td>kate</td>
			<td>PHP 5 &gt;= 5.3</td>
			<td>BSD</td>
			<td>2012-12-03</td>
			<td>Command line tool</td>
			<td><a href="http://github.com/tokushima/kate">github</a></td>
		</tr>
		<tr>
			<td>angela</td>
			<td>PHP 5 &gt;= 5.3</td>
			<td>BSD</td>
			<td>2012-09-05</td>
			<td>Testing tool</td>
			<td><a href="http://github.com/tokushima/angela">github</a></td>
		</tr>

		</tbody>
		</table>
		
		</rt:block>
	</div>
</body>
</html>

