<rt:extends href="../index.html" />
<rt:block name="content">
	<h2>O/Rマッパー</h2>
	<p>
		<classdoc map="rhaco3_document" class="org.rhaco.store.db.Dao" />
	</p>
	<div>
		<h3>クラスのアノテーション</h3>
		<table>
			<thead>
			<tr>
				<th>アノテーション</th>
				<th>説明</th>
				<th>型</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>database</td>
				<td>接続するデータベース名</td>
				<td>string</td>
			</tr>
			<tr>
				<td>table</td>
				<td>リンクするテーブル名</td>
				<td>string</td>
			</tr>
			<tr>
				<td>create</td>
				<td>新規追加を実行可能である</td>
				<td>boolean</td>
			</tr>
			<tr>
				<td>update</td>
				<td>更新を実行可能である</td>
				<td>boolean</td>
			</tr>
			<tr>
				<td>delete</td>
				<td>削除を実行可能である</td>
				<td>boolean</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div>
		<h3>プラパティのアノテーション</h3>
		<table>
			<thead>
			<tr>
				<th>アノテーション</th>
				<th>説明</th>
				<th>型</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>extra</td>
				<td>テーブルのカラムとリンクしないプロパティとする</td>
				<td>boolean</td>
			</tr>
			<tr>
				<td>cond</td>
				<td>テーブルのカラムとリンクする際の追加の条件</td>
				<td>string</td>
			</tr>
			<tr>
				<td>primary</td>
				<td>主キーとする</td>
				<td>boolean</td>
			</tr>
			<tr>
				<td>label</td>
				<td>ラベル</td>
				<td>string</td>
			</tr>
			<tr>
				<td>require</td>
				<td>必須とする</td>
				<td>boolean</td>
			</tr>
			<tr>
				<td>unique</td>
				<td>ユニークとする</td>
				<td>boolean</td>
			</tr>
			<tr>
				<td>unique_together</td>
				<td>指定のプロパティとあわせてユニークとする</td>
				<td>string[]</td>
			</tr>
			<tr>
				<td>master</td>
				<td>指定のDaoの主キーにプロパティの値が存在することを確認する</td>
				<td>string</td>
			</tr>
			<tr>
				<td>min</td>
				<td>最低値</td>
				<td>integer</td>
			</tr>
			<tr>
				<td>max</td>
				<td>最大値</td>
				<td>integer</td>
			</tr>
			<tr>
				<td>auto_now_add</td>
				<td>新規登録時のみ現在日時をセットする</td>
				<td>boolean</td>
			</tr>
			<tr>
				<td>auto_now</td>
				<td>更新時に現在日時をセットする</td>
				<td>boolean</td>
			</tr>
			<tr>
				<td>auto_future_add</td>
				<td>新規登録時のみ未来日時をセットする、@conf: future_date で指定された日付がセットされる(デフォルトでは'2038/01/01 00:00:00')</td>
				<td>boolean</td>
			</tr>
			<tr>
				<td>auto_code_add</td>
				<td>
					<div>新規登録時のみユニークなコードをセットする</div>
					<div>コードの桁数は max で指定する</div>
					<div>コードの種類は ctype で指定する(alnum,alpha,digit)</div>
					<div>コードを大文字にしたい場合は upper=>true を小文字にしたい場合は lower=>trueを指定する</div>
					<div>生成したくないパターンがある場合は ignore_auto_code=>'00.+00' と正規表現で指定する</div>
				</td>
				<td>boolean</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div>
		<h3>拡張メソッド</h3>
		<table>
			<thead>
			<tr>
				<th>メソッド名</th>
				<th>説明</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>__find_conds__</td>
				<td>select時の追加条件</td>
			</tr>
			<tr>
				<td>__create_verify__</td>
				<td>新規追加時に行う検証</td>
			</tr>
			<tr>
				<td>__update_verify__</td>
				<td>更新時に行う検証</td>
			</tr>
			<tr>
				<td>__delete_verify__</td>
				<td>削除時に行う検証</td>
			</tr>
			<tr>
				<td>__before_save__</td>
				<td>追加/更新の前に行う処理</td>
			</tr>
			<tr>
				<td>__after_save__</td>
				<td>追加/更新の後に行う処理</td>
			</tr>
			<tr>
				<td>__before_create__</td>
				<td>追加の前に行う処理</td>
			</tr>
			<tr>
				<td>__after_create__</td>
				<td>追加の後に行う処理</td>
			</tr>
			<tr>
				<td>__before_update__</td>
				<td>更新の前に行う処理</td>
			</tr>
			<tr>
				<td>__after_update__</td>
				<td>更新の後に行う処理</td>
			</tr>
			<tr>
				<td>__before_delete__</td>
				<td>削除の前に行う処理</td>
			</tr>
			<tr>
				<td>__after_delete__</td>
				<td>削除の後に行う処理</td>
			</tr>			
			</tbody>
		</table>
	</div>
	
	<div>
		<h3>拡張アクセサ</h3>
		<table>
			<thead>
			<tr>
				<th>アクセサ名</th>
				<th>説明</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>verify</td>
				<td>追加の検証処理、失敗時にfalseを返すようにする</td>
			</tr>
			</tbody>
		</table>
	</div>
	
	
	<h3>作成例</h3>
	
	<cli caption="テーブルの作成">
		$ sqlite3 sample.db
		SQLite version 3.7.7 2011-06-25 16:35:41
		Enter ".help" for instructions
		Enter SQL statements terminated with a ";"
		sqlite> create table `entry`(
		   		`id` INTEGER PRIMARY KEY AUTOINCREMENT null ,
		   		`name` TEXT null ,
		   		`title` TEXT null ,
		   		`description` TEXT null ,
		   		`create_date` INTEGER null ,
		   		`update_date` INTEGER null 
		   		);
		sqlite> .exit
	</cli>
	<pre caption="sample.php">
		<php>
		require('rhaco3.php');
		use \org\rhaco\store\db\Q;
		
		// 接続情報の記述
		\org\rhaco\Conf::set('org.rhaco.store.db.Dao','connection',array(
		'Entry'=>array(
		'type'=>'org.rhaco.store.db.module.Sqlite','host'=>__DIR__,'dbname'=>'sample.db','user'=>'','password'=>'','port'=>'','encode'=>'utf8'
		)));
		
		/**
		 * @var serial $id
		 * @var alnum $name @['max'=>50,'unique'=>true]
		 * @var string $title @['max'=>100,'require'=>true]
		 * @var text $description @['require'=>true]
		 * @var timestamp $create_date @['auto_now_add'=>true]
		 * @var timestamp $update_date @['auto_now'=>true]
		 * @class @['create'=>true,'update'=>true,'delete'=>true]
		 */
		class Entry extends \org\rhaco\store\db\Dao{
			protected $id;
			protected $name;
			protected $title;
			protected $description;
			protected $create_date;
			protected $update_date;
		}

		$println = function($s){
			print($s.PHP_EOL);
		};

		$obj = new \Entry();
		$props = array_keys($obj->props());
		
		$str = 'ABCDEFGH';
		for($i=0;$i<strlen($str);$i++){
			$v = substr($str,$i,1);
		
			$entry = new \Entry();
			$entry->name($i+1);
			$entry->title(strtolower($v));
			$entry->description($v);
			$entry->save();
		}
		
		$println('# 一覧');
		$println(implode(',',$props));
		foreach(\Entry::find() as $obj){
		  $println(implode(',',$obj->hash()));
		}
		
		$entry = \Entry::find_get(Q::eq('title','a'));
		$entry->title('x');
		$entry->save();
		
		$println('# aがxに更新されている');
		$println(implode(',',$props));
		foreach(\Entry::find(Q::eq('title','X')) as $obj){
		  $println(implode(',',$obj->hash()));
		}
		
		$entry = \Entry::find_get(Q::eq('title','x'));
		$entry->delete();
		
		$println('# xが削除されている');
		$println(implode(',',$props));
		foreach(\Entry::find() as $obj){
		  $println(implode(',',$obj->hash()));
		}
		
		$println('# 1ページ');
		$println(implode(',',$props));
		foreach(\Entry::find(new \org\rhaco\Paginator(3,1),Q::order('id')) as $obj){
		  $println(implode(',',$obj->hash()));
		}
		
		$println('# 2ページ');
		$println(implode(',',$props));
		foreach(\Entry::find(new \org\rhaco\Paginator(3,2),Q::order('id')) as $obj){
		  $println(implode(',',$obj->hash()));
		}
		
		$println('# 3ページ');
		$println(implode(',',$props));
		foreach(\Entry::find(new \org\rhaco\Paginator(3,3),Q::order('id')) as $obj){
		  $println(implode(',',$obj->hash()));
		}
	</pre>

	<cli caption="結果">
		# 一覧
		id,name,title,description,create_date,update_date
		1,1,a,A,2011/07/03 14:04:05,2011/07/03 14:04:05
		2,2,b,B,2011/07/03 14:04:05,2011/07/03 14:04:05
		3,3,c,C,2011/07/03 14:04:05,2011/07/03 14:04:05
		4,4,d,D,2011/07/03 14:04:05,2011/07/03 14:04:05
		5,5,e,E,2011/07/03 14:04:05,2011/07/03 14:04:05
		6,6,f,F,2011/07/03 14:04:05,2011/07/03 14:04:05
		7,7,g,G,2011/07/03 14:04:05,2011/07/03 14:04:05
		8,8,h,H,2011/07/03 14:04:05,2011/07/03 14:04:05
		# aがxに更新されている
		id,name,title,description,create_date,update_date
		1,1,x,A,2011/07/03 14:04:05,2011/07/03 14:04:05
		# xが削除されている
		id,name,title,description,create_date,update_date
		2,2,b,B,2011/07/03 14:04:05,2011/07/03 14:04:05
		3,3,c,C,2011/07/03 14:04:05,2011/07/03 14:04:05
		4,4,d,D,2011/07/03 14:04:05,2011/07/03 14:04:05
		5,5,e,E,2011/07/03 14:04:05,2011/07/03 14:04:05
		6,6,f,F,2011/07/03 14:04:05,2011/07/03 14:04:05
		7,7,g,G,2011/07/03 14:04:05,2011/07/03 14:04:05
		8,8,h,H,2011/07/03 14:04:05,2011/07/03 14:04:05
		# 1ページ
		id,name,title,description,create_date,update_date
		2,2,b,B,2011/07/03 14:04:05,2011/07/03 14:04:05
		3,3,c,C,2011/07/03 14:04:05,2011/07/03 14:04:05
		4,4,d,D,2011/07/03 14:04:05,2011/07/03 14:04:05
		# 2ページ
		id,name,title,description,create_date,update_date
		5,5,e,E,2011/07/03 14:04:05,2011/07/03 14:04:05
		6,6,f,F,2011/07/03 14:04:05,2011/07/03 14:04:05
		7,7,g,G,2011/07/03 14:04:05,2011/07/03 14:04:05
		# 3ページ
		id,name,title,description,create_date,update_date
		8,8,h,H,2011/07/03 14:04:05,2011/07/03 14:04:05
	</cli>
	<p>&nbsp;</p>
</rt:block>
