<rt:extends href="../index.html" />
<rt:block name="content">
	<h2>nginx.confのサンプル</h2>
	
	<p>
		nginx + php-fpm の場合の設定サンプル
	</p>
	<pre caption="/etc/nginx/nginx.conf の編集">
	    server {
	        location ~ \.php($|/) {
	            fastcgi_pass   127.0.0.1:9000;
	            fastcgi_index  index.php;
	            fastcgi_param  SCRIPT_FILENAME  /var/www$fastcgi_script_name;
	            fastcgi_intercept_errors on;
	            include        fastcgi_params;
	
	            fastcgi_split_path_info          ^(.+\.php)(/.+)$;
	            fastcgi_param PATH_INFO          $fastcgi_path_info;
	            break;
	        }
	
	        location /hoge/ {
	            if (!-f $request_filename) {
	                rewrite ^(.+?)(/.*)$ /hoge/index.php$2?$query_string last;
	                break;
	            }
	        }	
	        location /aaa/bbb/ccc {
	            if (!-f $request_filename) {
	                rewrite ^/aaa/bbb/ccc(.*)$ /aaa/bbb/ccc/index.php$1?$query_string last;
	                break;
	            }
	        }
	    }
	</pre>
	<cli caption="設定の反映">
		sudo /etc/init.d/nginx reload
	</cli>

</rt:block>
