<rt:extends href="./base.html" />

<rt:block name="header">
	<h2>アクションで発生したエラーを確認する</h2>
	<div>
		Flowで実行されたアクションで発生したExceptionをログに出力する
	</div>
</rt:block>

<rt:block name="body">
	<pre caption="\rhaco\Conf::setで設定する">
		<php>
		\rhaco\Conf::set([
			'rhaco.Log'=>[
				'level'=>'warn', // ログレベル
				'file'=>dirname(__DIR__).'/work/debug.log',  // ログファイルの出力先
			],
			'rhaco.Flow'=>[
				'exception_log_level'=>'warn', // Exception発生時に出力するエラーレベル
				'exception_log_ignore'=>[ // 出力しない正規表現パターン
					'Unauthorized',
					'.+ require',
				]
			],
		]);
	</pre>
</rt:block>
