<rt:extends href="./base.html" />

<rt:block name="header">
	<h2>ログイン処理</h2>
	<div>
		ログインが必要なアクションを定義する
	</div>
</rt:block>

<rt:block name="body">
<pre caption="アクションにユーザモデルを定義する">
	<php>
	/**
	 * !!@login ユーザモデルの定義 @['require'=>'test.model.Member']!!
	 */
	class LoginRequestAction extends !!\rhaco\flow\Request!!{
		public function aaa(){
			return ['abc'=>123];
		}
	}
</pre>

	
<pre caption="エントリにログイン、ログアウトの挙動を定義する">
include_once('bootstrap.php');

$flow = new \rhaco\Flow();
$flow->execute([
	'plugins'=>'test.flow.plugin.Login', // ログイン処理のプラグインをセット
	'patterns'=>[
		'login_url'=>[
			!!'name'=>'login',  // nameをloginにすると自動でログイン画面にリダイレクトします!!
			!!'action'=>'rhaco.flow.Request::do_login', // ログイン処理のアクション!!
			!!'args'=>['login_redirect'=>'aaa'], // ログイン成功時のリダイレクト先!!
		],
		'logout_url'=>[
			'name'=>'logout',
			!!'action'=>'login_redirect::do_logout', // ログイン処理のアクション!!
		]
		,'aaa'=>[
			'name'=>'aaa'
			,'action'=>'test.flow.LoginRequestAction::aaa'
		]
	]
]);
</pre>	
</rt:block>
