<rt:extends href="./base.html" />

<rt:block name="header">
	<h2>テンプレートエンジン</h2>
	<div>
		テンプレートエンジンで出来る事は、テンプレートのXML拡張による操作と変数の展開です。
	</div>
</rt:block>

<rt:block name="body">
	<pre caption="変数の書式">
		{$abc}
		{$t.html($abc)}
	</pre>

	<h3>作成例</h3>
	<pre>
		&lt;?php&gt
		include_once('bootstrap.php');

		$template = new \rhaco\Template();
		$template->vars('name','Sample');
		$template->vars('data_array',array('ABC','DEF','GHI'));
		$template->output(__FILE__);
		&lt;/php&gt
		&lt;rt:template&gt;
		<html>
		<body>
		 <h1>{$name}</h1>
		 &lt;rt:loop param="data_array" var="data"&gt;
		 	<p>{$data}</p>
		 loop>
		</body>
		</html>
		&lt;/rt:template&gt;
	</pre>
	
	<h4>実行結果</h4>
	<pre>
		<html>
		<body>
		 <h1>Sample</h1>
		  	<p>ABC</p>
		  	<p>DEF</p>
		  	<p>GHI</p>
		 </body>
		</html>
	</pre>


	<h3>デフォルトで埋め込まれている変数</h3>
	<table>
		<thead>
		<tr>
			<th>変数名</th>
			<th>内容</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>$t</td>
			<td>rhaco.FlowHelper (rhaco.Flow を利用した場合)</td>
		</tr>
		</tbody>
	</table>


	<h3>拡張されたXML</h3>
	
	<div>
		<a name="template_rt_template"></a>
		<h4>&lt;rt:template&gt;</h4>
		<p>
			<a href="#template_rt_template">&lt;rt:template&gt;</a>で囲まれた部分がテンプレートとして使用されます。
			ひとつも<a href="#template_rt_template">&lt;rt:template&gt;</a>がない場合は全体をテンプレートとして使用します。
		</p>
		<table>
			<thead>
			<tr>
				<th>属性</th>
				<th>説明</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>name</td>
				<td>テンプレート名</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div>
		<a name="template_rt_extends"></a>
		<h4>&lt;rt:extends&gt;</h4>
		<p>
			継承するテンプレートを指定する
		</p>
		<table>
			<thead>
			<tr>
				<th>属性</th>
				<th>説明</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>href</td>
				<td>継承するテンプレートの相対パス</td>
			</tr>
			</tbody>
		</table>
	</div>
	
	<div>
		<a name="template_rt_block"></a>
		<h4>&lt;rt:block&gt;</h4>
		<p>
			上書き可能ブロックの定義、上書きを行う。
			同名のブロックが<a href="#template_rt_block">&lt;rt:block&gt;</a>で囲まれた部分に上書きされる
		</p>
		<table>
			<thead>
			<tr>
				<th>属性</th>
				<th>説明</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>name</td>
				<td>ブロック名</td>
			</tr>
			</tbody>
		</table>
		<pre>
			&lt;rt:extends href="index.html" /&gt;
			&lt;rt:block name="abc"&gt;
				ABC
			&lt;/rt:block&gt;
			&lt;rt:block name="def"&gt;
				DEF
			&lt;/rt:block&gt;
		</pre>
	</div>

	<div>
		<a name="template_rt_blockvar"></a>
		<h4>&lt;rt:blockvar&gt;</h4>
		<p>
			ブロックファイルで変数を定義する
		</p>
		<table>
			<thead>
			<tr>
				<th>属性</th>
				<th>説明</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>name</td>
				<td>変数名</td>
			</tr>
			</tbody>
		</table>
		<pre>
			&lt;rt:extends href="index.html" /&gt;
			&lt;rt:blockvar name="abc"&gt;ABC&lt;/rt:blockvar&gt;
		</pre>
	</div>
	
	<div>
		<a name="template_rt_comment"></a>
		<h4>&lt;rt:comment&gt;</h4>
		<p>
			<a href="#template_rt_comment">&lt;rt:comment&gt;</a>で囲まれた部分が実行時に削除されるコメントブロックとなる
		</p>
		<pre>
			abc
			&lt;rt:comment&gt;
				この部分は表示されない
			&lt;/rt:comment&gt;
			def
		</pre>
	</div>
	
	<div>
		<a name="template_rt_loop"></a>
		<h4>&lt;rt:loop&gt;</h4>
		<p>
			<a href="#template_rt_loop">&lt;rt:loop&gt;</a>で囲まれた部分を繰り返し処理する。
		</p>
		<table>
			<thead>
			<tr>
				<th>属性</th>
				<th>説明</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>param</td>
				<td>対象の変数名</td>
			</tr>
			<tr>
				<td>var</td>
				<td>paramからとりだされた現在の値を格納する変数名</td>
			</tr>
			<tr>
				<td>key</td>
				<td>paramからとりだされた現在のキーを格納する変数名</td>
			</tr>
			<tr>
				<td>counter</td>
				<td>offsetからの現在のカウント数を格納する変数名</td>
			</tr>
			<tr>
				<td>evenodd</td>
				<td>偶数か奇数かを表す文字列を格納する変数名</td>
			</tr>
			<tr>
				<td>even_value</td>
				<td>偶数を表す文字列</td>
			</tr>
			<tr>
				<td>odd_value</td>
				<td>奇数を表す文字列</td>
			</tr>
			</tbody>
		</table>

		<pre>
			&lt;rt:loop param="object_list" var="obj"&gt;
				{$obj.fm_value()}
			&lt;/rt:loop&gt;			
		</pre>
	</div>

	
	<div>
		<a name="template_rt_if"></a>
		<h4>&lt;rt:if&gt;</h4>
		<p>
			条件が真の場合に<a href="#template_rt_if">&lt;rt:if&gt;</a>で囲まれたブロックを処理する。
			valueが指定されてない場合はparam値で判断する。
		</p>
		<table>
			<thead>
			<tr>
				<th>属性</th>
				<th>説明</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>param</td>
				<td>対象の変数名</td>
			</tr>
			<tr>
				<td>value</td>
				<td>paramと比較する値</td>
			</tr>
			</tbody>
		</table>
		<h4>要素</h4>
		<div>
			<a href="#template_rt_else">&lt;rt:else&gt;</a>
		</div>
		
		<p></p>
		<pre>
			&lt;rt:if param="abc" value="1"&gt;
				One
			&lt;rt:else /&gt;
				Other
			&lt;/rt:if&gt;
		</pre>
	</div>
	
	<div>
		<a name="template_form"></a>
		<h4>&lt;form&gt;</h4>
		<p>
			formの拡張
		</p>
		<table>
			<thead>
			<tr>
				<th>属性</th>
				<th>説明</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>rt:ref</td>
				<td>formの要素にrt:refを適用する</td>
			</tr>
			<tr>
				<td>rt:aref</td>
				<td>結果（変数,タグの展開済）を処理する (true, false)</td>
			</tr>
			</tbody>
		</table>
		<h4>要素</h4>
		<div>
			<a href="#template_form_input">&lt;input&gt;</a>
			<a href="#template_form_input">&lt;textarea&gt;</a>
			<a href="#template_form_select">&lt;select&gt;</a>
		</div>
	</div>
	
	<div>
		<a name="template_form_input"></a>
		<h4>&lt;input&gt;</h4>
		<h4>&lt;textarea&gt;</h4>		
		<p>
			Templateにセットされた値とname属性(またはid属性)を元にformを処理する。			
		</p>
		<table>
			<thead>
			<tr>
				<th>属性</th>
				<th>説明</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>rt:ref</td>
				<td>変数を参照し処理する (true, false)</td>
			</tr>
			<tr>
				<td>rt:multiple</td>
				<td>type=checkbox もしくは multiple=multiple の 要素のname属性を配列形式にするか name=hoge[] (true, false)</td>
			</tr>
			</tbody>
		</table>
	</div>
	
	<div>
		<a name="template_form_select"></a>
		<h4>&lt;select&gt;</h4>
		<p>
			Templateにセットされた値と<span style="color:#f00">name</span>属性(またはid属性)を元にformを処理する。
			rt:paramから&lt;option&gt;を生成される。 rt:paramが未指定の場合はselect内要素が利用される。
		</p>
		<table>
			<thead>
			<tr>
				<th>属性</th>
				<th>説明</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>rt:ref</td>
				<td>変数を参照し処理する (true, false)</td>
			</tr>
			
			<tr>
				<td>rt:param</td>
				<td>対象の変数名</td>
			</tr>
			<tr>
				<td>rt:var</td>
				<td>paramからとりだされた現在の値を格納する変数名</td>
			</tr>
			<tr>
				<td>rt:key</td>
				<td>paramからとりだされた現在のキーを格納する変数名</td>
			</tr>
			<tr>
				<td>rt:counter</td>
				<td>offsetからの現在のカウント数を格納する変数名</td>
			</tr>
			<tr>
				<td>rt:offset</td>
				<td>開始値</td>
			</tr>
			<tr>
				<td>rt:limit</td>
				<td>処理する最大数</td>
			</tr>
			<tr>
				<td>rt:range</td>
				<td>
					処理する値の範囲 rt:range="開始値,終了値"
					paramが指定されていた場合は無視される
				</td>
			</tr>
			<tr>
				<td>rt:range_step</td>
				<td>
					rangeのステップ数
				</td>
			</tr>
			<tr>
				<td>rt:evenodd</td>
				<td>偶数か奇数かを表す文字列を格納する変数名</td>
			</tr>
			<tr>
				<td>rt:even_value</td>
				<td>偶数を表す文字列(未指定の場合は"even")</td>
			</tr>
			<tr>
				<td>rt:odd_value</td>
				<td>奇数を表す文字列(未指定の場合は"odd")</td>
			</tr>
			<tr>
				<td>rt:reverse</td>
				<td>paramを逆順にする(true, false)</td>
			</tr>
			<tr>
				<td>rt:null</td>
				<td>空の値をもつ&lt;option&gt;を作成する、指定した文字列がラベルとなる</td>
			</tr>			
			</tbody>
		</table>
	</div>
	
	<div>
		<a name="template_list"></a>
		<h4>&lt;table&gt;</h4>
		<h4>&lt;ul&gt;</h4>
		<h4>&lt;ol&gt;</h4>
		<p>
			繰り返し処理の拡張を処理する(<a href="#template_rt_loop">&lt;rt:loop&gt;</a>の拡張)
		</p>
		<table>
			<thead>
			<tr>
				<th>属性</th>
				<th>説明</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>rt:ref</td>
				<td>変数を参照し処理する (true, false)</td>
			</tr>
			
			<tr>
				<td>rt:param</td>
				<td>対象の変数名</td>
			</tr>
			<tr>
				<td>rt:var</td>
				<td>paramからとりだされた現在の値を格納する変数名</td>
			</tr>
			<tr>
				<td>rt:key</td>
				<td>paramからとりだされた現在のキーを格納する変数名</td>
			</tr>
			<tr>
				<td>rt:counter</td>
				<td>offsetからの現在のカウント数を格納する変数名</td>
			</tr>
			<tr>
				<td>rt:offset</td>
				<td>開始値</td>
			</tr>
			<tr>
				<td>rt:limit</td>
				<td>処理する最大数</td>
			</tr>
			<tr>
				<td>rt:range</td>
				<td>
					処理する値の範囲 rt:range="開始値,終了値"
					paramが指定されていた場合は無視される
				</td>
			</tr>
			<tr>
				<td>rt:range_step</td>
				<td>
					rangeのステップ数
				</td>
			</tr>
			<tr>
				<td>rt:evenodd</td>
				<td>偶数か奇数かを表す文字列を格納する変数名</td>
			</tr>
			<tr>
				<td>rt:even_value</td>
				<td>偶数を表す文字列(未指定の場合は"even")</td>
			</tr>
			<tr>
				<td>rt:odd_value</td>
				<td>奇数を表す文字列(未指定の場合は"odd")</td>
			</tr>
			<tr>
				<td>rt:shortfall</td>
				<td>処理が最大数に満たなかった場合に不足数を格納する変数名</td>
			</tr>
			<tr>
				<td>rt:reverse</td>
				<td>paramを逆順にする(true, false)</td>
			</tr>
			<tr>
				<td>rt:null</td>
				<td>空の値をもつ&lt;option&gt;を作成する、指定した文字列がラベルとなる</td>
			</tr>			
			</tbody>
		</table>
		
		<pre>
			&lt;table rt:param="object_list" rt:var="obj" rt:evenodd="eo"&gt;
			<thead>
				<th>name</th>
				<th>value</th>
			</thead>
			<tbody>
			<tr>
				<td>{$obj.name()}</td>
				<td>{$obj.fm_value()}</td>
			</tr>
			</tbody>
			</table>
		</pre>
	</div>
	
</rt:block>
	